<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Template Integration Tests</title>
</head>
<body>
    <script language="javascript" type="text/javascript" src="http://closure-library.googlecode.com/svn/trunk/closure/goog/base.js"></script>
    <script language="javascript" type="text/javascript" src="../../twig.dev.js"></script>
    <script language="javascript" type="text/javascript" src="./js/hello_world.js"></script>
    <script language="javascript" type="text/javascript" src="./js/layout.js"></script>
    <script language="javascript" type="text/javascript" src="./js/ajax_layout.js"></script>
    <script language="javascript" type="text/javascript" src="./js/traitable.js"></script>
    <script language="javascript" type="text/javascript" src="./js/macros.js"></script>
    <script language="javascript" type="text/javascript" src="./js/welcome.js"></script>
    <script language="javascript" type="text/javascript" src="./js/counter.js"></script>
    <script language="javascript" type="text/javascript" src="./js/fields.js"></script>
    <script language="javascript" type="text/javascript" src="./js/myform.js"></script>
    <script language="javascript" type="text/javascript" src="./js/form_div_layout.html.js"></script>
    <script language="javascript" type="text/javascript">
        goog.require('goog.testing.asserts');
        goog.require('goog.testing.jsunit');
        goog.require('goog.string');
    
        function testHelloWorld() {
        	var helloWorldTpl = Twig.createTemplate(hello_world);
        	var counterTpl = Twig.createTemplate(counter);
        	
        	assertEquals("Hello World!", Twig.render(hello_world));
        	assertEquals("Hello Johannes!", Twig.render(hello_world, {name: "Johannes"}));
        	assertEquals("Hello &lt;aFoo!", Twig.render(hello_world, {name: "<aFoo"}));
        }
        
         function testWelcome() {
        	assertEquals(
        		twig.spaceless("<!DOCTYPE html>\n<html>\n <head>\n <title>foo</title>\n <link rel=\"stylesheet\" href=\"foo.css\" />\n </head>\n<body>\n \n <h1>Welcome Johannes!</h1>\n\n <p>Some Status.</p>\n\n <script language=\"javascript\" type=\"text/javascript\" src=\"jquery.js\"><"+"/script>\n \n\n <script language=\"javascript\" type=\"text/javascript\" src=\"welcome.js\"><"+"/script>\n</body>\n</html>"), 
        		twig.spaceless(Twig.render(welcome, {name: "Johannes"}))
        	);
        	
        	assertEquals(
        	    twig.spaceless('<h1>Welcome Johannes!</h1>\n\n <p>Some Status.</p>'),
        	    twig.spaceless(Twig.render(welcome, {ajax: true, name: "Johannes"}))
        	);
        	
        	assertEquals(
        	    twig.spaceless('<h1>Welcome World!</h1><p><a href=\"/login\" title=\"Login\">Please login.</a></p>'),
        	    twig.spaceless(Twig.render(welcome, {ajax: true}))
        	);
        }
        
        function testCounter() {
        	assertEquals("1, 1, 2, 2, 3, 3, 4, 4, 5, 5", Twig.render(counter));
        }
        
//        function testRenderBlockWithEmptyContext() {
//            var welcomeTpl = Twig.createTemplate(welcome);
//            
//            assertEquals(
//                twig.spaceless('<h1>Welcome World</h1><p><a href=\"/login\" title=\"Login\">Please login.</a></p>'),
//                twig.spaceless(welcomeTpl.renderBlock("body"))
//            );
//        }
        
        function testRenderFormExtensionLabelBlockWithEmptyLabel() {
            var template = createFormExtensionTemplate();
            
            var formView = createFormExtensionFormView();
            
            assertEquals(
                twig.spaceless('<label></label>'),
                twig.spaceless(template.renderBlock("form_label", {
                    form: formView
                }))
            );
        }
        
        function testRenderFormExtensionLabelBlockWithNonEmptyLabel() {
            var template = createFormExtensionTemplate();
            
            var formView = createFormExtensionFormView();
            
            assertEquals(
                twig.spaceless('<label>my_label</label>'),
                twig.spaceless(template.renderBlock("form_label", {
                    form: formView,
                    label: "my_label"
                }))
            );
        }
        
        function testRenderFormExtensionLabelBlockWithRequiredFalse() {
            var template = createFormExtensionTemplate();
            
            var formView = createFormExtensionFormView();
            
            assertEquals(
                twig.spaceless('<label></label>'),
                twig.spaceless(template.renderBlock("form_label", {
                    form: formView,
                    required: false
                }))
            );
        }
        
        function testRenderFormExtensionLabelBlockWithRequiredTrue() {
            var template = createFormExtensionTemplate();
            
            var formView = createFormExtensionFormView();
            
            assertEquals(
                twig.spaceless('<label class="required"></label>'),
                twig.spaceless(template.renderBlock("form_label", {
                    form: formView,
                    attr: {
                        
                    },
                    required: true
                }))
            );
        }
        
        function testRenderFormExtensionLabelBlockWithAttributes() {
            var template = createFormExtensionTemplate();
            
            var formView = createFormExtensionFormView();
            
            assertEquals(
                twig.spaceless('<label></label>'),
                twig.spaceless(template.renderBlock("form_label", {
                    form: formView,
                    attr: {
                        
                    }
                }))
            );
        }
        
        function createFormExtensionTemplate() {
            Twig.setFilter('trans', function(value) {
                return value;
            });
            //TwigFormExtension.$resources$ = [fields.html];
            //TwigFormExtension.$template$ = null;
            
            return Twig.createTemplate(form_div_layout.html);
        }
        
        function createFormExtensionFormView() {
            var theFormView = new twig.FormView();
            
            theFormView.set("id", "google_doubleclick_counter_activity_tag");
            theFormView.set("types", ["field", "form"]);
//            theFormView.set("errors", []);
            
            
//            var keyFormView = new twig.FormView();

//            keyFormView.set("id", "google_doubleclick_counter_activity_tag_key");
//            keyFormView.set("types", ["field", "form"]);

//            theFormView.set("key", keyFormView);
            
            return theFormView;
        }
    </script>
</body>
</html>